<!DOCTYPE html>
<html>
<head>
<head>
	<title>Hospital Management System</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="style/stylesheet.css">
	<header id="h">
		<span style="float: left; padding-left: 5px;"><i class="fas fa-circle" style="font-size:10px; padding-left: 3px; color:blue;"></i>
		<i class="fas fa-circle" style="font-size:10px;padding-left: 3px; color:blue;"></i>
	    <i class="fas fa-circle" style="font-size:10px; padding-left: 3px;color:blue;"></i></span>
		<label id="head1">ABC HOSPITAL MANAGEMENT SYSTEM</label>
	</header>
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<body>
	
	<br>
<div id="lpage">
	<form action="/login" method="post">

    <h2>LOGIN</h2>
    <br>
    <label for="uname" class="lb"><b>Username</b></label>&nbsp;
    <input type="text"  name="uname" required>
    <br>
    <br>
    <label for="psw" class="lb"><b>Password</b></label>&nbsp;
    <input type="password" name="psw" required>
    <br>
	<br>
    <input type="submit" value="login">
	<br>
	<br>
</form>
</div>
</body>
</head>
</html>